@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h1{
    font-family: customFont;
    font-size: 4.5rem;
    p{
      font-size: 1rem;
      color:gray;
    }
  }

.center{
  text-align: center;
}

.bold{
  font-weight: bold;
}

@keyframes fadeInView {
  0%{
    transform: translate(0, 30px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
} 

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}


.texthero{
    color:black;
    text-align: left;
    position: absolute;
    width: 50%;
    top:40%;
    left:15%;
    opacity: 0;
    @media only screen and (max-width: 1022px) {
      text-align: center;
      left:0%;
      top:40%!important;
      width: 80%;
      padding-left:15px;
      padding-right:15px;
    }
    @media only screen and (max-width: 600px) {
      text-align: center;
      top:10%!important;
      left:0%;
      width: 100%;
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }

  .texthero.loaded {
    opacity: 1;
    h1, h1 p{
      opacity: 0;
      animation: fadeInView 1s forwards;
      animation-delay: 1s;
    }
    p{
      opacity: 0;
      animation: fadeInView 1s forwards;
      animation-delay: 1.8s;
    }
    div{
      h3{
      opacity: 0;
      animation: fadeInView 1s forwards;
      animation-delay: 3s;
      }
      .custombutton{
        opacity: 0;
        animation: fadeInView 1s forwards;
        animation-delay: 3.5s;
      }
    }
  }



section{
  top:-70px;
  bottom: -70px;
  position: relative;
}

.imgcontainer{
  width: 100vh;
  height: 100vh;
}
.hero{ 
  width: 100%;
  height:100vh;
  z-index: 0;
  .bgimg{
    /* Position and center the image to scale nicely on all screens */
    position: fixed!important;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    width:100%;
    height: 100%;
    z-index: -1;
   } 
}


  
.test1{
  height:100%;
  width: 100%;
  top:+0px!important;
}
.navbar {
  background:#f4e1b2;
  opacity: 0;
}

.navbar.notscrolled{
  animation:fadeout .5s forwards;
}
.navbar.scrolled{
  animation:fadein .5s forwards;
}

@font-face {
  font-family: customFont;
  src: url("../style/Muli-VariableFont_wght.ttf");
  font-display: auto
}

